body{
	background-color: 
}
#home{
	height:100%;
	width: 80%;
	color:black;
	margin: 10px;
    font-size: 300%;
	font-weight: 300;
	text-align: left;
	padding: 20px;
	margin-bottom: 40px;

}
	
}
#home p {
	font-size: 300%;
	font-weight: 300;
	text-align: left;
	padding-top: 20px;
}
#home img {
	float: right;
    width: 240px;
    height: 280px;
    padding-left: 350px;
    margin-top: -200px;
}
#about {
	height: 100%;
	font-family: serif;
	width: 90%;
	padding: 20px;
	margin:10px;

}
#about h2 {
	color: blue;
	font-size: 200%;
	font-weight: 300;
	text-align: center;
	text-decoration: underline;
}
#about p {
	font-family: serif;
	font-size: 150%;
	text-align: center;

}
#hobbies {

}
#hobbies h2{
	font-weight: 200;
	font-family: serif;
	text-align: center;
	text-decoration: underline;

}
#hobbies img {
	width: 300px;
	float: left;
}
#contact {

}
#contact h2 {
	text-align: center;
	text-decoration: underline;
	color: blue;
	font-weight: 200;
	font-family: serif;

}