body{
	background-color: 
}
#home{
	height:100%;
	width: 80%;
	color:black;
	margin: 10px;
    font-size: 300%;
	font-weight: 300;
	text-align: left;
	padding: 20px;
	margin-bottom: 40px;

}
	
}
#home p {
	font-size: 300%;
	font-weight: 300;
	text-align: left;
	padding-top: 20px;
}
.name {
	color: blue;

}
#home button {
	padding: 4px 4px 4px 4px;
	margin: 10px 10px 10px 20px;
	width: 80px;
	height: 40px;
	border-radius: 3px;
	text-shadow: 2px 2px 2px #ffffff;
}
#home img {
	float: right;
    width: 340px;
    height: 250px;
    padding-left: 350px;
    margin-top: -200px;
    border-radius: 100px;
}
#about {
	height: 100%;
	font-family: serif;
	width: 90%;
	padding: 20px;
	margin:10px;

}
#about h2 {
	color: lightblue;
	font-size: 200%;
	font-weight: 300;
	text-align: center;
	text-decoration: underline;
}
#about p {
	font-family: serif;
	font-size: 150%;
	text-align: center;

}
#skills {
	color: lightblue;
	font-weight: 200;
	font-family: serif;
	text-align: center;
	text-decoration:underline;
}
#hobbies {
	margin: 20px 20px 20px 60px;


}
#hobbies h2{
	font-weight: 200;
	font-family: serif;
	text-align: center;
	text-decoration: underline;
	color: lightblue;

}
#hobbies img {
	width: 280px;
	height:250px ;
	float: left;
	padding: 10PX;
}
#contact {
	margin: 20px;
	padding: 10px;

}
#contact h2 {
	text-align: center;
	text-decoration: underline;
	color: blue;
	font-weight: 200;
	font-family: serif;

}
#name {
	padding: 4px 4px 4px 4px;
	margin: 10px 10px 10px 350px;
	width: 250px;
	border-radius: 3px;
	
}
#email {
	padding: 4px 4px 4px 4px;
	margin: 10px 10px 10px 350px; 
	width: 250px;
	border-radius: 3px;
	
}


#text-area {
	padding: 4px 4px 4px 4px;
	width: 250px;
	margin: 10px 10px 10px 350px;
	border-radius: 3px;
}

#submit{
	padding: 4px 4px 4px 4px;
	margin: 10px 10px 10px 350px;
	width: 60px;
	height: 30px;
	border-radius: 3px;
}
